valle.egg-info/
__pycache__
path.sh
*.pt
log
.DS_Store
.vscode

!egs/*/data/.gitkeep
egs/*/exp/*
!egs/*/exp/.gitkeep
egs/*/infer/*
!egs/*/infer/.gitkeep
egs/libritts/prompts/*.png

valle/version.py
*.tar